header {
  color: #1b3856;
  font-family: sans-sarif;
  margin-left: 1%;
  font-size: large;
}

body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: roboto, lato, Arial;
  background-color: rgb(250, 253, 250);
  color: #404040;
  margin-left: 0px;
  border: 5px double green;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #2c303a;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  background-color: #2c303a;
  text-align: center;
}

nav a:hover {
  background-color: #808080;
}

main {
  margin: 0px 20px 0px 20px;
}

section {
  margin: 5%;
}

h2 {
  margin-top: 5%;
}

p {
  font-family: lato, Arial, sans-sarif;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px;
  line-height: 2;
}

.img-shohreh {
  max-width: 20%;
  border-radius: 50% 50% 50% 50%;
  float: left;
  margin-right: 1%;
}

.img-university {
  max-width: 100%;
  display: block;
  border-radius: 20% 0% 20% 0%;
  margin: auto;
}

.img-Parrotia-persica {
  max-width: 100%;
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
}

figcaption a {
  color: black;
}

.ending-clause {
  font-weight: bold;
  color: #00645d;
}

footer {
  background-color: #1b3856;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  margin: 1%;
  padding: 5px 8% 5px 8%;
  border-radius: 3px;
  font-weight: bold;
  background-color: #ffe5b4;
}